<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.rongke.mapper.ChannelUserMapper">    <select id="getFkCount" resultType="java.util.Map">        select  count(DISTINCT case when e.`status`="已打款" or e.`status`="已完结" then u.id else null end) as 'fks' from channel c        LEFT JOIN `user` u on c.id=u.source        LEFT JOIN channel_user cu ON cu.channel_id =c.id LEFT JOIN evaluation e on u.id=e.user_id        <where>            ${ew.sqlSegment}        </where>    </select></mapper>