<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.rongke.mapper.OrderSumMapper">    <select id="selectListAlls"  resultType="com.rongke.model.OrderSum" >   SELECT        *       FROM  order_sum       WHERE 1=1        <if test="time1!=null and time1!='' and time2!=null and time2!=''">          and  order_sum.date between #{time1}  and  #{time2}        </if>        ORDER BY order_sum.date DESC         LIMIT ${pageNo},${pageSize}    </select>    <select id="selectListAllsCount"  resultType="java.lang.Integer" >   SELECT        count(id)       FROM  order_sum       WHERE 1=1        <if test="time1!=null and time1!='' and time2!=null and time2!=''">         and   order_sum.date between #{time1}  and  #{time2}        </if>    </select>    </mapper>