<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.rongke.mapper.WithdrawChannelMapper">    <resultMap type="com.rongke.model.WithdrawChannel" id="mWithdrawChannel" autoMapping="true">    </resultMap>    <sql id="mColumnsSql">        id AS id,        channel_id AS channelId,        money AS money,        reason AS reason,        gmt_datetime AS gmtDatetime,        upt_datetime AS uptDatetime,        status AS status    </sql></mapper>